.button {
  width: 320px;
  padding: 2rem 6rem;
  font-size: 1.8rem;
  white-space: nowrap;
  color: #fff;
  background-color: #4da1ff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.button:hover,
.button:focus {
  background-color: #1976d2;
}
.button:not(:last-child) {
  margin-right: 30px;
}
.secondaryButton {
  color: #4da1ff;
  background-color: transparent;
  border: 2px solid #4da1ff;
}
.secondaryButton:hover,
.secondaryButton:focus {
  color: #1976d2;
  background-color: #e3f2fd;
  border: 2px solid #1976d2;
}

@media (max-width: 700px) {
  .button {
    width: 240px;
    padding: 2rem 3rem;
    font-size: 2rem;
  }
  .button:not(:last-child) {
    margin-right: 0;
  }
  .button:not(:last-child) {
    margin-right: 60px;
  }
}
